cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
google-auth==2.3.3
google-auth-oauthlib==0.4.6
gspread==4.0.1
idna==3.3
numpy==1.21.4
oauthlib==3.1.1
packaging==21.3
Pint==0.18
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.6
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.16.0
tabulate==0.8.9
urllib3==1.26.7
